<template>
	<vx-card title="profile data" class="mb-base">

        <!-- Avatar -->
        <div class="vx-row">

          <!-- Avatar Col -->
          <div class="vx-col" id="avatar-col">
            <div class="img-container mb-4">
              <img src="" class="rounded w-full" />
            </div>
          </div>

          <!-- Information - Col 1 -->
          <div class="vx-col flex-1" id="account-info-col-1">
            <table v-if="authUser">
              <tr>
                <td class="font-semibold">Name</td>
                <td>{{authUser.user.first_name}} {{authUser.user.last_name}}</td>
              </tr>
                <vs-divider></vs-divider>
              <tr>
                <td class="font-semibold">Email</td>
                <td>{{authUser.user.email}}</td>
              </tr>

            </table>
          </div>

        </div>

      </vx-card>
</template>

<script>
export default{
  data() {
    return {
      authUser: this.$store.state.authUser,

    }
  },
  created() {

  },
}
</script>
