<!-- =========================================================================================
	File Name: App.vue
	Description: Main vue file - APP
	----------------------------------------------------------------------------------------
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Author: Pixinvent
	Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
	<div id="app" :class="vueAppClasses" :key="renderUniqueID">
		<router-view @setAppClasses="setAppClasses" />
	</div>
</template>

<script>
import themeConfig from '@/../themeConfig.js'
// import './mixins'

export default {
  data() {
    return {
      vueAppClasses: [],
      renderUniqueID: this.uniqueID(),
    }
  },
  watch: {
    '$store.state.theme'(val) {
      this.toggleClassInBody(val)
    },
    '$vs.rtl'(val) {
      document.documentElement.setAttribute("dir", val ? "rtl" : "ltr")
    }
  },
  methods: {
    getHeaders() {
        const authUser = this.$store.state.authUser;
        const headers = {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Content-Language': this.$store.state.currentLocale
        }
        // debugger;
        console.log('get headers', authUser, this.$store.state.currentLocale);
        if (authUser) {
            headers['Authorization'] = `${authUser.token_type} ${authUser.access_token}`;
        }
        console.log('headers', headers);
        return headers;
    },
    toggleClassInBody(className) {
      if (className == 'dark') {
        if (document.body.className.match('theme-semi-dark')) document.body.classList.remove('theme-semi-dark')
        document.body.classList.add('theme-dark')
      }
      else if (className == 'semi-dark') {
        if (document.body.className.match('theme-dark')) document.body.classList.remove('theme-dark')
        document.body.classList.add('theme-semi-dark')
      }
      else {
        if (document.body.className.match('theme-dark'))      document.body.classList.remove('theme-dark')
        if (document.body.className.match('theme-semi-dark')) document.body.classList.remove('theme-semi-dark')
      }
    },
    setAppClasses(classesStr) {
      this.vueAppClasses.push(classesStr)
    },
    handleWindowResize() {
      this.$store.commit('UPDATE_WINDOW_WIDTH', window.innerWidth)

      // Set --vh property
      document.documentElement.style.setProperty('--vh', `${window.innerHeight * 0.01}px`);
    },
    handleScroll() {
      this.$store.commit('UPDATE_WINDOW_SCROLL_Y', window.scrollY)
    },
    rerenderComponent() {
        this.renderUniqueID = this.uniqueID();
    }
  },
  mounted() {
    this.toggleClassInBody(themeConfig.theme)
    this.$store.commit('UPDATE_WINDOW_WIDTH', window.innerWidth)

    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);
  },
  async created() {

    Fire.$on('rerender-component', this.rerenderComponent);

    let currentLocale = this.$store.state.currentLocale;
    this.$vs.rtl = currentLocale == 'en' ? false : true;

    let dir = this.$vs.rtl ? "rtl" : "ltr"

    document.documentElement.setAttribute("dir", dir)

    window.addEventListener('resize', this.handleWindowResize)
    window.addEventListener('scroll', this.handleScroll)
    //** to handle loading of requests */
    axios.interceptors.request.use((config) => {
        // trigger 'loading=true' event here
        config.headers = this.getHeaders();
        this.$vs.loading();
        return config;
    }, (error) => {
        // debugger
        // trigger 'loading=false' event here
        this.$vs.loading.close()
        return Promise.reject(error);
    });

    axios.interceptors.response.use((response) => {
        // trigger 'loading=false' event here
        this.$vs.loading.close()
        return response.data;
    }, (error) => {
        // debugger
        // trigger 'loading=false' event here
        let data = error.response.data;
        this.$vs.loading.close()
        if(data && data.message == "Unauthenticated.") {
            window.localStorage.clear();
            // this.$router.replace({name: 'login'});
        } else
            return Promise.reject(data);
    });

  },
  destroyed() {
    window.removeEventListener('resize', this.handleWindowResize)
    window.removeEventListener('scroll', this.handleScroll)
  },
}

</script>
