<template>
    <vs-chip class="ag-grid-cell-chip">
      <span>{{ params.rowIndex + 1 }}</span>
    </vs-chip>
</template>

<script>
    export default {
          data(){
                return {
                    currentLocale: this.$store.state.currentLocale
                }
            },
        name: 'CellRendererDate',
        computed: {

        }
    }
</script>
