<!-- =========================================================================================
    File Name: Login.vue
    Description: Login Page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" id="page-login">

    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">

      <vx-card>

        <div slot="no-body" class="full-page-bg-color">

          <div class="vx-row no-gutter justify-center items-center">

            <div class="vx-col hidden lg:block lg:w-1/2">
              <img src="@assets/images/pages/login.png" alt="login" class="mx-auto">
            </div>

            <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
              <div class="p-8 login-tabs-container">
                <form>
                    <div class="vx-card__title mb-4">
                    <h4 class="mb-4">Register as an Attendee</h4>
                    <!-- <p>You can enter your data to access the main system board</p> -->
                    </div>
                    <div>
                    <vs-input
                        name="first_name"
                        icon-no-border
                        icon="icon icon-user"
                        icon-pack="feather"
                        label-placeholder="first name"
                        v-model="form.first_name"
                        v-validate="'required'"
                        class="w-full"/>
                    <span class="text-danger text-sm" data-vv-as="first_name" v-show="errors.has('first_name')">{{ errors.first('first_name') }}</span>
                    <has-error class="text-danger text-sm" :form="form" field="first_name"></has-error>
                    <vs-input
                        name="last_name"
                        icon-no-border
                        icon="icon icon-user"
                        icon-pack="feather"
                        label-placeholder="last name"
                        v-model="form.last_name"
                        v-validate="'required'"
                        class="w-full"/>
                    <span class="text-danger text-sm" data-vv-as="last_name" v-show="errors.has('last_name')">{{ errors.first('last_name') }}</span>
                    <has-error class="text-danger text-sm" :form="form" field="last_name"></has-error>

                    <vs-input
                        name="email"
                        icon-no-border
                        icon="icon icon-user"
                        icon-pack="feather"
                        :label-placeholder="$t('common.email')"
                        v-model="form.email"
                        v-validate="'required'"
                        class="w-full"/>
                    <span class="text-danger text-sm" data-vv-as="email" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                    <has-error class="text-danger text-sm" :form="form" field="email"></has-error>

                    <vs-input
                        type="password"
                        name="password"
                        icon-no-border
                        icon="icon icon-lock"
                        icon-pack="feather"
                        :label-placeholder="$t('common.password')"
                        v-model="form.password"
                        v-validate="'required'"
                        class="w-full mt-6" />
                    <span class="text-danger text-sm" data-vv-as="password" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                    <has-error class="text-danger text-sm" :form="form" field="password"></has-error>

                    <div class="flex flex-wrap justify-between my-5">
                        <vs-checkbox v-model="form.remember" name="remember" class="mb-3">{{$t('common.rememberMe')}}</vs-checkbox>
                    </div>
                    <vs-button  type="border" @click="userLogin">Login</vs-button>
                    <vs-button @click.prevent="submitForm">Register</vs-button>

                    <vs-divider></vs-divider>

                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
// import axios from "../../axios.js"

export default{
  data() {
    return {
      email: "",
      password: "",
      checkbox_remember_me: false,
      form: new Form({
            first_name: '',
            last_name: '',
            email: '',
            password: '',
            // remember: '',
            role: 3  // attendee | student
        }),
    }
  },
  created() {

  },
  methods: {
        submitForm() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    this.register();
                }else{
                    // form have errors
                }
            })
        },
        register () {
            axios.post('api/iPanel/register', this.form)
            .then( (response) => {
                let data = response.response;

                this.$store.dispatch("isAuthenticated", true);
                this.$store.dispatch("authUser", data);

                console.log('authUser>>>', this.$store.state.authUser.user);
                this.$vs.notify({
                    color:'success',
                    title:this.$t('success.success'),
                    text: this.$t('success.loggedSuccessfully'),
                    position:'top-right'
                })
                this.$router.replace({name: 'home'});
            })
            .catch(error => {
                console.error(error);
                //** A simple way to handle Laravel back-end validation in Vue  */
                this.form['errors']['errors'] = error.errors;
                this.$vs.notify({
                    color:'danger',
                    title:this.$t('errors.failed'),
                    text: error.message ? error.message : this.$t('errors.wrongLoginData'),
                    position:'top-right'
                })
            });
        },
        userLogin() {
            this.$router.replace({name: 'login'});
        }
  },
}
</script>

<style lang="scss">
#page-login {
  .social-login-buttons {
    .bg-facebook { background-color: #1551b1 }
    .bg-twitter { background-color: #00aaff }
    .bg-google { background-color: #4285F4 }
    .bg-github { background-color: #333 }
  }
}
</style>
