<!-- =========================================================================================
  File Name: UserList.vue
  Description: User List page
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>

  <div id="page-user-list">

    <div class="vx-card p-6">

      <div class="flex flex-wrap items-center">

        <!-- ITEMS PER PAGE -->
        <div class="flex-grow">
          <vs-dropdown vs-trigger-click class="cursor-pointer">
            <div class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
              <span class="mr-2">{{ currentPage * paginationPageSize - (paginationPageSize - 1) }} - {{ collections.length - currentPage * paginationPageSize > 0 ? currentPage * paginationPageSize : collections.length }} of {{ collections.length }}</span>
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>

            <vs-dropdown-menu>

              <vs-dropdown-item @click="gridApi.paginationSetPageSize(10)">
                <span>10</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(20)">
                <span>20</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(25)">
                <span>25</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(30)">
                <span>30</span>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
        </div>

        <!-- TABLE ACTION COL-2: SEARCH & EXPORT AS CSV -->
        <div class="flex flex-wrap items-center justify-between ag-grid-table-actions-right">
          <vs-input class="mb-4 md:mb-0 mr-4" v-model="searchQuery" @input="updateSearchQuery" :placeholder="$t('common.search')" />
          <!-- <vs-button class="mb-4 md:mb-0 mr-4" @click="gridApi.exportDataAsCsv()">Export as CSV</vs-button> -->
          <!-- <vs-button @click="newModal" class="mb-4 md:mb-0" style="float: right" color="primary" type="filled" icon-pack="feather" icon="icon-plus">{{$t('common.create')}}</vs-button> -->
        </div>

      </div>
        <!-- <button @click="getSelectedRows()">Get Selected Rows</button> -->

      <!-- AgGrid Table -->
      <ag-grid-vue
        ref="agGridTable"
        :components="components"
        :gridOptions="gridOptions"
        class="ag-theme-material w-100 my-4 ag-grid-table"
        :columnDefs="columnDefs"
        :defaultColDef="defaultColDef"
        :rowData="collections"
        rowSelection="multiple"
        colResizeDefault="shift"
        :animateRows="true"
        :floatingFilter="true"
        :pagination="true"
        :key="renderUniqueID"
        :paginationPageSize="paginationPageSize"
        :suppressPaginationPanel="true"
        :enableRtl="$vs.rtl"
        @grid-ready="onGridReady"
        >
      </ag-grid-vue>

      <vs-pagination
        :total="totalPages"
        :max="7"
        v-model="currentPage" />

    </div>


  </div>

</template>

<script>
import { AgGridVue } from "ag-grid-vue"
import '@sass/vuexy/extraComponents/agGridStyleOverride.scss'
import vSelect from 'vue-select'

// Cell Renderer
import CellRendererActions from "./cell-renderer/CellRendererActions.vue"
import CellRendererDate from "./cell-renderer/CellRendererDate.vue"
import CellRendererStatus from "./cell-renderer/CellRendererStatus.vue"
import CellRendererID from "@/views/pages/CellRendererID.vue"

export default {
  components: {
    AgGridVue,
    vSelect,

    // Cell Renderer
    CellRendererActions,
    CellRendererDate,
    CellRendererStatus,
    CellRendererID,
  },
  props: ['item'],
  data() {
    return {
      searchQuery: '',
      collections: this.item.appointments,
      editMode: false,
      rowIndex: 1,
      // AgGrid
      gridApi: null,
      gridOptions: {},
      renderUniqueID: this.uniqueID(),
      defaultColDef: {
        sortable: true,
        resizable: true,
        suppressMenu: true
      },
      columnDefs: [
        {
          headerName: this.$t('common.id'),
          field: 'id',
          filter: true,
          width: 150,
          cellRendererFramework: 'CellRendererID',
          checkboxSelection: true,
          headerCheckboxSelectionFilteredOnly: true,
          headerCheckboxSelection: true,
        },
        {
          headerName: "Name",
          field: 'name',
          filter: true,
        //   cellRendererFramework: 'CellRendererStatus',
        valueGetter: function(params) {
            return item.first_name + ' ' + item.first_name;
          }.bind(item),
          width: 200,
        },
        {
          headerName: "title",
          field: 'title',
          filter: true,
          width: 150,
        },
        {
          headerName: "Date",
          field: 'date',
          filter: true,
          width: 150,
        },
        {
          headerName: "start time",
          field: 'start_time',
          filter: true,
          width: 150,
        },
        {
          headerName: "end time",
          field: 'end_time',
          filter: true,
          width: 150,
        },
        {
          headerName: "status",
          field: 'transactions',
          cellRendererFramework: 'CellRendererStatus',
          width: 150,
        },
        // {
        //   headerName: this.$t('common.actions'),
        //   field: 'transactions',
        //   cellRendererFramework: 'CellRendererActions',
        //   width: 150,
        // },
      ],

      // Cell Renderer Components
      components: {
        CellRendererActions,
        CellRendererDate,
        CellRendererStatus,
        CellRendererID,
      }
    }
  },
  watch: {
    collections(collections) {
        this.collections = collections;
    },
  },
  computed: {
    paginationPageSize() {
      if(this.gridApi) return this.gridApi.paginationGetPageSize()
      else return 10
    },
    totalPages() {
      if(this.gridApi) return this.gridApi.paginationGetTotalPages()
      else return 0
    },
    currentPage: {
      get() {
        if(this.gridApi) return this.gridApi.paginationGetCurrentPage() + 1
        else return 1
      },
      set(val) {
        this.gridApi.paginationGoToPage(val - 1)
      }
    }
  },
  methods: {
    onGridReady(params) {
        // this.gridApi = params.api;
        // this.columnApi = params.columnApi;
        // this.rowIndex = params.rowIndex;
        // debugger
    },
    getSelectedRows() {
        const selectedNodes = this.gridApi.getSelectedNodes();
        const selectedData = selectedNodes.map(node => node.data);
        const selectedDataStringPresentation = selectedData.map(node => node.make + ' ' + node.model).join(', ');
        alert(`Selected nodes: ${selectedDataStringPresentation}`);
    },

    random(){
      return Math.floor(Math.random() * (10 - 1 + 1)) + 1;
    },
    // loadcollections () {

    //     axios.get('api/iPanel/users')
    //     .then( ({ response }) => (
    //       this.collections = response) )
    //     .catch( (error) => {
    //         console.log('error', error);
    //         this.$vs.notify({
    //             color:'warning',
    //             title:'Failed',
    //             text: error.message,
    //             position:'top-right'
    //         })
    //     });
    // },
    // newModal() {
    //     this.editMode = false;
    //     Fire.$emit('open-modal', {
    //         editMode: this.editMode,
    //     });
    // },
    deleteItem(item) {
        this.collections = this.collections.filter(obj => {
            return obj.id != item.id;
        });
    },
    addItem(item) {
        this.collections.unshift(item);
        console.log(this.collections);
    },
    updateItem(item) {
        this.collections.forEach((element, index) => {
            if (element.id == item.id) {
            this.collections[index] = Object.assign(this.collections[index], item);
            }
        });
        console.log(this.collections);
        this.renderUniqueID = this.uniqueID();

    },
    setColumnFilter(column, val) {
      const filter = this.gridApi.getFilterInstance(column)
      let modelObj = null

      if(val !== "all") {
        modelObj = { type: "equals", filter: val }
      }

      filter.setModel(modelObj)
      this.gridApi.onFilterChanged()
    },
    resetColFilters() {
      // Reset Grid Filter
      this.gridApi.setFilterModel(null)
      this.gridApi.onFilterChanged()

      this.$refs.filterCard.removeRefreshAnimation()
    },
    updateSearchQuery(val) {
      this.gridApi.setQuickFilter(val)
    }
  },
  mounted() {

    // this.loadcollections();

    this.gridApi = this.gridOptions.api

    /* =================================================================
      NOTE:
      Header is not aligned properly in RTL version of agGrid table.
      However, we given fix to this issue. If you want more robust solution please contact them at gitHub
    ================================================================= */
    if(this.$vs.rtl) {
      const header = this.$refs.agGridTable.$el.querySelector(".ag-header-container")
      header.style.left = "-" + String(Number(header.style.transform.slice(11,-3)) + 9) + "px"
    }
  },
  created() {
      console.log('item', this.item);
    Fire.$on('update-item', this.updateItem);
    Fire.$on('add-item', this.addItem);
    Fire.$on('delete-item', this.deleteItem);

  }
}

</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>
