<!-- =========================================================================================
	File Name: DialogsPrompt.vue
	Description: Add dialog of type prompt
	----------------------------------------------------------------------------------------
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Author: Pixinvent
	Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
	<!-- <vx-card title="Prompt" code-toggler> -->

            <vs-popup class="holamundo"  :title="!editMode ? $t('common.create')  : $t('common.edit')" :active.sync="activeModal">

                <form>

                    <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input
                                name="first_name"
                                icon-no-border
                                icon="icon icon-user"
                                icon-pack="feather"
                                label-placeholder="first name"
                                v-model="form.first_name"
                                v-validate="'required'"
                                class="w-full"/>
                            <span class="text-danger text-sm" data-vv-as="first_name" v-show="errors.has('first_name')">{{ errors.first('first_name') }}</span>
                            <has-error class="text-danger text-sm" :form="form" field="first_name"></has-error>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input
                                name="last_name"
                                icon-no-border
                                icon="icon icon-user"
                                icon-pack="feather"
                                label-placeholder="last name"
                                v-model="form.last_name"
                                v-validate="'required'"
                                class="w-full"/>
                            <span class="text-danger text-sm" data-vv-as="last_name" v-show="errors.has('last_name')">{{ errors.first('last_name') }}</span>
                            <has-error class="text-danger text-sm" :form="form" field="last_name"></has-error>

                        </div>
                    </div>

                    <div class="vx-row">
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input
                                name="email"
                                icon-no-border
                                icon="icon icon-user"
                                icon-pack="feather"
                                :label-placeholder="$t('common.email')"
                                v-model="form.email"
                                v-validate="'required'"
                                class="w-full"/>
                            <span class="text-danger text-sm" data-vv-as="email" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                            <has-error class="text-danger text-sm" :form="form" field="email"></has-error>

                        </div>
                        <div class="vx-col sm:w-1/2 w-full mb-2">
                            <vs-input
                                type="password"
                                name="password"
                                icon-no-border
                                icon="icon icon-lock"
                                icon-pack="feather"
                                :label-placeholder="$t('common.password')"
                                v-model="form.password"
                                v-validate="'required'"
                                class="w-full mt-6" />
                            <span class="text-danger text-sm" data-vv-as="password" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                            <has-error class="text-danger text-sm" :form="form" field="password"></has-error>

                        </div>
                    </div>

                    <vx-card title="host appointments" v-show="form.appointments.length">
                        <div class="px-3" :key="`experiment${key}`" v-for="(appointment,key) in form.appointments" >

                            <div class="vx-row">
                                <div class="vx-col sm:w-1/2 w-full mb-2">
                                    <vs-input
                                        type="title"
                                        name="title"
                                        icon-no-border
                                        icon="icon icon-lock"
                                        icon-pack="feather"
                                        label-placeholder="title"
                                        v-model="appointment.title"
                                        v-validate="'required'"
                                        class="w-full mt-6" />
                                    <span class="text-danger text-sm" data-vv-as="title" v-show="errors.has('title')">{{ errors.first('title') }}</span>
                                    <has-error class="text-danger text-sm" :form="form" field="title"></has-error>

                                </div>

                                <div class="vx-col sm:w-1/2 w-full mb-2">
                                    <datepicker placeholder="meeting date" :highlighted="highlightedFn"
                                    name="meeting_date" v-model="appointment.meeting_date" v-validate="'required'" class="mt-5 w-full"
                                    :language="languages[currentLocale]" format="d MMMM yyyy"></datepicker>
                                    <span class="text-danger text-sm"  v-show="errors.has('meeting_date')">{{ errors.first('meeting_date') }}</span>
                                    <has-error class="text-danger text-sm" :form="form" field="meeting_date"></has-error>
                                </div>
                            </div>

                             <div class="vx-row">
                                <div class="vx-col sm:w-1/2 w-full mb-2">
                                    <input placeholder="start time"
                                    name="start_time" v-model="appointment.start_time" v-validate="'required'" class="mt-5 w-full"
                                    type="time">
                                    <span class="text-danger text-sm"  v-show="errors.has('start_time')">{{ errors.first('start_time') }}</span>
                                    <has-error class="text-danger text-sm" :form="form" field="start_time"></has-error>
                                </div>

                                <div class="vx-col sm:w-1/2 w-full mb-2">
                                    <input placeholder="end time"
                                    name="end_time" v-model="appointment.end_time" v-validate="'required'" class="mt-5 w-full"
                                    type="time">
                                    <span class="text-danger text-sm"  v-show="errors.has('end_time')">{{ errors.first('end_time') }}</span>
                                    <has-error class="text-danger text-sm" :form="form" field="end_time"></has-error>
                                </div>
                            </div>

                            <vs-button icon-pack="feather" type="border" v-show="key" @click="removeAppointment(key)" color="danger" icon="icon-trash"
                            class="mb-4 md:mb-0" style="margin: auto"></vs-button>
                            <vs-divider/>
                        </div>
                        <vs-button @click="addAppointment" class="mb-4 md:mb-0" color="primary" style="margin: auto"
                        type="filled" icon-pack="feather" icon="icon-plus"></vs-button>
                    </vx-card>

                    <vs-divider/>
                    <div class="vx-row">
                        <div class="vx-col sm:w-2/3 w-full ml-auto">
                            <vs-button type="filled" @click.prevent="submitForm" class="mr-3 mb-2">{{$t('common.submit')}}</vs-button>
                            <vs-button color="warning" type="border" class="mb-2" @click="resetForm">{{$t('common.reset')}}</vs-button>
                        </div>
                    </div>
            </form>

            </vs-popup>

	<!-- </vx-card> -->
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import * as lang from 'vuejs-datepicker/src/locale';

export default {
    components: {
        Datepicker
    },
  data(){
    return {
      activeModal:false,
      editMode: false,
      disabledDates: {
        },
        languages: lang,
       highlightedFn: {
            customPredictor(date) {
                if (date.getDate() == moment().format('D')) {
                    return true;
                }
            }
        },
      currentLocale: this.$store.state.currentLocale,
      form: new Form({
            first_name: '',
            last_name: '',
            email: '',
            password: '',
            role: 2,  // attendee | student
            appointments: [
                {
                    title: '',
                    meeting_date: '',
                    start_time: '',
                    end_time: '',
                }
            ]
        }),

    }
  },
  created () {
    Fire.$on('open-modal', this.handleForm);
  },
  computed:{
      errors: {
           get(){
             return this.errors
           },
           set(error){
             return error
           }
        }
  },
  methods:{
      addAppointment(){
        this.form.appointments.push({
            title: '',
            meeting_date: '',
            start_time: '',
            end_time: '',
        });
    },
    removeAppointment(key){
        this.form.appointments.splice(key, 1);
    },
    openModal() {
        this.activeModal = true;
    },
    closeModal(){
        this.activeModal = false;
    },
    submitForm() {
        this.$validator.validateAll().then(result => {
            if(result) {
                if(this.editMode) this.updateItem();
                else this.createItem();
            }else{
                // form have errors
            }
        })
    },
    createItem () {
        axios.post('api/iPanel/users', this.form)
        // this.form.post('api/iPanel/categories')
        .then( (data) => {
            data = data.response;
            //** fire event create new item */
            Fire.$emit('add-item', data);
            this.$vs.notify({
                color:'success',
                title:'success',
                text: this.$t('success.itemCreated'),
                position:'top-right'
            })
            this.closeModal();
        })
        .catch((error) => {
            //** A simple way to handle Laravel back-end validation in Vue  */
            this.form['errors']['errors'] = error.errors;
        });
    },
    updateItem(){

    },
    handleForm(data) {
        this.editMode = data.editMode;
        this.resetForm();
        if(data.item) this.form.fill(data.item);
        this.openModal();
        console.log(data);
    },
    resetForm() {
        this.form.clear(); //** Clear the form errors. */
        this.form.reset(); //** Reset the form fields. */
    }

  }
}
</script>
