<template>
    <vs-chip class="ag-grid-cell-chip">
      <span>{{ params.data.first_name }} {{ params.data.last_name }}</span>
    </vs-chip>
</template>

<script>
    export default {
          data(){
                return {
                }
            },
        name: 'CellRendererDate',
        computed: {

        }
    }
</script>
