<template>
    <div :style="{'direction': $vs.rtl ? 'rtl' : 'ltr'}">
      <eye-icon size="1.5x" class="custom-class" @click="viewModal"></eye-icon>
      <!-- <feather-icon icon="Edit3Icon" svgClasses="h-5 w-5 mr-4 hover:text-primary cursor-pointer" @click="editModal()" /> -->
      <feather-icon icon="Trash2Icon" svgClasses="h-5 w-5 hover:text-danger cursor-pointer" @click="confirmDeleteRecord" />
    </div>
</template>

<script>
import { EyeIcon } from 'vue-feather-icons'

    export default {
        components: {
            EyeIcon
        },
        name: 'CellRendererActions',
        data(){
                return {
                    currentLocale: this.$store.state.currentLocale
                }
            },
        methods: {
            viewModal() {
                let editObj = this.cloneItem(this.params.data);
                    this.$router.push({
                        name: 'appointments',
                        params:{
                            item: editObj,
                        }
                    })

            },
          confirmDeleteRecord() {
            this.$vs.dialog({
              type: 'confirm',
              color: 'danger',
              title: `Confirm Delete`,
              text: `You are about to delete "${this.params.data.first_name}"`,
              accept: this.deleteRecord,
              acceptText: "Delete"
            })
          },
          deleteRecord() {
            axios.delete(`api/iPanel/users/${this.params.data.id}`)
            .then( () => {
                Fire.$emit('delete-item', this.params.data)
                this.showDeleteSuccess()
            })
            .catch( () => {
                this.$vs.notify({
                    color: 'danger',
                    title: 'failed',
                    position:'top-right',
                    text: 'thare is something wrong'
                })
            });
          },
          showDeleteSuccess() {
            this.$vs.notify({
              color: 'success',
              title: 'Item Deleted',
              position:'top-right',
              text: 'The selected Item deleted successfully'
            })
          }
        }
    }
</script>
