<template>
    <vs-chip class="ag-grid-cell-chip" :color="chipColor(params.data.attendee_id)">
      <span>{{ value }}</span>
    </vs-chip>
</template>

<script>
    export default {
        name: 'CellRendererStatus',
        data() {
            return {
                value: ""
            }
        },
        computed: {
          chipColor() {
            return (value) => {
              if(value) {
                  this.value = "reserved"
                  return "success"
              } else {
                this.value = "unreserved"
                return "warning"
              }
            }
          }
        }
    }
</script>

<style lang="scss" scpoped>
.ag-grid-cell-chip {
  &.vs-chip-success {
    background: rgba(var(--vs-success),.15);
    color: rgba(var(--vs-success),1) !important;
    font-weight: 500;
  }
  &.vs-chip-warning {
    background: rgba(var(--vs-warning),.15);
    color: rgba(var(--vs-warning),1) !important;
    font-weight: 500;
  }
  &.vs-chip-danger {
    background: rgba(var(--vs-danger),.15);
    color: rgba(var(--vs-danger),1) !important;
    font-weight: 500;
  }
}
</style>
