<template>
    <vs-chip class="ag-grid-cell-chip">
      <span>{{ params.value | myDate }}</span>
    </vs-chip>
</template>

<script>
    export default {
        name: 'CellRendererDate',
        computed: {

        }
    }
</script>
